<h1>Comments</h1>

<table>
    <tbody>
    <% comments.each do |comment| %>
        <tr>
            <td style="font-weight: bolder">User#<%= comment.user_id %></td>
        </tr>
        <tr>
            <td><%= comment.content %></td>
            <td><%= comment.created_at %></td>
            <td><%= link_to 'Edit', edit_project_task_comment_path(comment.task.project, comment.task, comment) %></td>
            <td><%= link_to 'Destroy', project_task_comment_path(comment.task.project, comment.task, comment),
                method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
</table>