<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Deadline at:</strong>
  <%= @task.deadline_at %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @task.project.name %>
</p>

<p>
  <strong>Requested at:</strong>
  <%= @task.created_at %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>



<%= render :partial => 'comments/form', :locals => {:comment => @comment, :task => @task, :project => @project } %>
<% @comments.each do |comment| %>
  <%= render :partial => 'comments/comment', :locals => {:comment => @comment, :task => @task, :project => @project } %>
<% end %>
<%# <%= render :partial => 'comments/list', :locals => {:comment => @comment, :task => @task, :project => @project, :user => @user } %> 

<%= link_to 'Edit', edit_project_task_path(@task.project, @task) %> |
<%= link_to 'Back', project_tasks_path(@task.project) %>
