<!DOCTYPE html>
<html>
  <head>
    <title>TaskTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <% if current_user.present? %>
      <%= link_to(
            [current_user.first_name, current_user.last_name].compact.join(' ').presence || current_user.email,
            sessions_path
          ) %>
      <%= link_to 'Log out', sessions_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', new_sessions_path %>
      <%= link_to 'Sign up', new_user_path %>
    <% end %>
  </nav>
    <% flash.each do |type, msg| %>
      <div class="flash-<%=type%>">
        <p><%=msg%></p>
      </div>
    <%end%>
    <%= yield %>
  </body>
</html>
